*{
    margin:0px;
    padding:0px;
}
body{
    background:url(..//imagenes/fondo5.jpg) #2b2b2b;
    
    /*insertar una textura para el fondo dela pagina, buscar en internet y agregar a propiedad anterior*/
}
form{
    /*background: #333;*/
    background:url(..//imagenes/fondochico.jpg) #2b2b2b;
    width: 360px;
    border: 1px solid #4e4d4d;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow:inset 0 0 10px #000;
    margin: 80px auto;
}
form h1{
    text-align: center;
    color=#fff;
    font-weight: normal;
    font-size:40px;
    margin:30px;
    font-family: algerian;
}
form div input{
    margin: 5px 30px;
    width: 280px;
    height: 35px;
    padding: 0px 10px;
    color=#6d6d6d;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow:inset 0 0 10px #000;
}
#boton{
    width: 135px;
    margin: 20px 0px 30px 30px;
    height: 50px;
    background: rgba(60,60,60,1);
background: rgba(60,60,60,1);
background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,60,60,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(42,40,40,1)));
background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: linear-gradient(to bottom, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0 );
border:1px solid #232323;
color=#fff;
box-shadow: 0px 2px 0px #000;
-moz-box-shadow: 0px 2px 0px #000;
-webkit-box-shadow: 0px 2px 0px #000;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
#boton:hover{
        background: #3a3a3a;
}
#boton:active{
    background: rgba(42,40,40,1);
background: -moz-linear-gradient(top, rgba(42,40,40,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(60,60,60,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,40,40,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(60,60,60,1)));
background: -webkit-linear-gradient(top, rgba(42,40,40,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(60,60,60,1) 100%);
background: -o-linear-gradient(top, rgba(42,40,40,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(60,60,60,1) 100%);
background: -ms-linear-gradient(top, rgba(42,40,40,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(60,60,60,1) 100%);
background: linear-gradient(to bottom, rgba(42,40,40,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(60,60,60,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c', GradientType=0 );

}